@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'logo';
  src: url('./fonts/logo-font.ttf');
}
@font-face {
  font-family: 'game';
  src: url('./fonts/playfair.ttf');
}
.MuiTooltip-tooltip {
  background-color: #bae5ff !important;
  color: black !important;
  font-size: 15px !important;
  font-weight: bold !important;
  font-family: 'Tahoma', 'sans-serif' !important;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px !important;
  padding: 1rem 3rem !important;
  border-radius: 1rem !important;
  max-width: none !important;
}
