@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'logo';
  src: url('./fonts/logo-font.ttf');
}
@font-face {
  font-family: 'game';
  src: url('./fonts/playfair.ttf');
}
