@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'logo';
  src: url('./fonts/Lobster-Regular.ttf');
}
@font-face {
  font-family: 'game';
  src: url('./fonts/RobotoLight.ttf');
}
@font-face {
  font-family: 'gamebold';
  src: url('./fonts/Roboto.ttf');
}

.font-logo,
.font-game,
.font-gamebold {
  @apply dark:text-white;
}

.title-tooltip {
  background: rgb(220, 250, 255) !important;
  color: black !important;
  font-size: 14px !important;
  font-weight: bold !important;
  font-family: 'Tahoma', 'sans-serif' !important;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px !important;
  padding: 0.75rem 3rem !important;
  border-radius: 0.5rem !important;
  max-width: none !important;
}

.like-tooltip {
  padding: 1em !important;
  font-size: 15px !important;
  opacity: 1 !important;
  background: black !important;
}

input::placeholder {
  padding: 1px !important;
  font-size: 14px !important;
}

.toggle-wrapper {
  width: 100%;
  display: flex;
  justify-content: end;
}

.toggleContainer {
  border-radius: 0.5em;
  position: relative;
  background: #ffffff;
}

.toggleContainer .toggleOption {
  display: flex;
  border-radius: 1em;
  justify-content: center;
  align-items: center;
  padding: 0.4em;
  position: relative;
  z-index: 1;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  color: #807b77;
  font-size: 1em;
}

.toggleContainer .toggleOption.selected {
  color: #ffffff;
  cursor: initial;
}

.toggleContainer .toggle {
  position: absolute;
  height: 100%;
  bottom: 0;
  left: 0;
  transition: all 0.4s ease-in-out;
  background: #aeaeae;
  border-radius: 0.5em;
}

.optionDisabled {
  background: #e6e6e6;
  cursor: no-drop !important;
}

.toggle.purple {
  background-color: rgb(255, 143, 255);
  border-radius: 0;
}

.toggle.green {
  background-color: rgb(190, 255, 208);
  border-radius: 0;
}
.toggle.red {
  background-color: rgb(255, 143, 143);
}

.c-label,
.c-validation,
.c-error {
  background-color: black;
}
